@import "reset.scss";
/*=====base======*/
body,
html {
  width: 100%;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", Verdana,
    serif;
  font-size: 62.5%;
  color: #252525;
  background: rgb(245, 245, 245);
  a {
    color: #252525;
    text-decoration: none;
  }
  .fadein {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
  }
}

$shadow: 0 2px 5px 2px rgba(37, 37, 37, 0.6);

@mixin h2 {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 2px;
    background: #747474;
  }
}
/*ハンバーガーボタン*/
.el_humburger {
  position: fixed;
  right: 5px;
  top: 20px;
  width: 46px;
  height: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0px;
  z-index: 20;
  cursor: pointer;
  pointer-events: auto;
  color: #000;
  text-align: center;
}

@media screen and (max-width: 840px) {
  .el_humburger {
    display: block;
    right: 0;
    top: 2;
    padding-top: 1px;
    width: 50px;
    height: 70px;
  }
  #factory .el_humburger {
    display: none;
  }
}

.el_humburger_wrapper {
  margin-bottom: 5px;
  width: 42px;
  display: inline-block;
}

@media screen and (max-width: 840px) {
  .el_humburger_container {
    margin-bottom: 5px;
    width: 30px;
    @media screen and (max-width: 500px) {
      margin-top: 10px;
    }
  }
}

.el_humburger_text {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-family: "游ゴシック Medium", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro",
    "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}

.js_humburgerOpen .el_humburger_text.el_humburger_text__menu {
  display: none;
}

.el_humburger_text.el_humburger_text__close {
  display: none;
}

.js_humburgerOpen .el_humburger_text.el_humburger_text__close {
  display: block;
}

@media screen and (max-width: 840px) {
  .el_humburger_text {
    font-size: 10px;
    padding-top: 2px;
  }
}

@media screen and (max-width: 840px) {
  .el_humburger_text svg path {
    -webkit-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    -o-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    fill: #000;
  }
}

@media screen and (max-width: 840px) {
  .js_humburgerOpen .el_humburger_text svg path {
    fill: #000;
  }
}

.el_humburger span.el_humburger_bar {
  display: block;
  width: 100%;
  margin: 0 auto 9px;
  height: 1px;
  background: #000;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.el_humburger span.el_humburger_bar:last-child {
  margin-bottom: 0;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar {
  background: #000;
}

@media screen and (max-width: 840px) {
  .el_humburger span.el_humburger_bar {
    background: #000;
    @media screen and (max-width: 500px) {
      background: #ddd;
    }
  }
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.top {
  -webkit-transform: translateY(9px) rotate(-45deg);
  -ms-transform: translateY(9px) rotate(-45deg);
  transform: translateY(9px) rotate(-45deg);
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.middle {
  opacity: 0;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-11px) rotate(45deg);
  -ms-transform: translateY(-11px) rotate(45deg);
  transform: translateY(-11px) rotate(45deg);
}

.el_humburgerButton.el_humburgerButton__close {
  top: 2%;
  right: 2%;
}

.el_humburgerButton__close span.el_humburger_bar {
  display: block;
  width: 35px;
  margin: 0 auto;
  height: 4px;
  background: #000;
  @media screen and (max-width: 500px) {
    background: #ddd;
  }
}

.el_humburgerButton__close span.el_humburger_bar.top {
  -webkit-transform: translateY(5px) rotate(-45deg);
  -ms-transform: translateY(5px) rotate(-45deg);
  transform: translateY(5px) rotate(-45deg);
}

.el_humburgerButton__close span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-6px) rotate(45deg);
  -ms-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg);
}

.navi {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  width: 0;
  z-index: 3;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  overflow: hidden;
}
.js_humburgerOpen .navi {
  width: 450px;
}
@media screen and (max-width: 840px) {
  .js_humburgerOpen .navi {
    width: 100%;
    padding: 100px 5% 0;
  }
}

.navi_item {
  margin-bottom: 28px;
  font-size: 20px;
  font-family: "Marcellus", serif !important;
  white-space: nowrap;
  margin-left: 90px;
}
.navi_item.op_innerLink {
  cursor: pointer;
}
@media screen and (max-width: 840px) {
  .navi_item {
    margin-left: 0;
    font-size: 18px;
    .sub-title {
      font-size: 12px;
      padding-left: 10px;
    }
  }
}

/*==================================
===============body=================
==================================*/

#header {
  .header-container {
    .header-fixed {
      position: fixed;
      top: 0;
      z-index: 2;
      width: 100%;
      background: rgba(245, 245, 245, 0.8);
      h1 {
        line-height: 60px;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        .header-sub-title {
          font-size: 1.2rem;
          padding-left: 10px;
        }
        .br {
          display: none;
        }
        .br2 {
          display: none;
        }
        @media screen and (max-width: 840px) {
          padding-left: 10px;
          text-align: left;
          line-height: 30px;
          .br {
            display: block;
          }
          @media screen and (max-width: 500px) {
            font-size: 1.6rem;
          }
        }
      }

      .hide-title {
        display: none;
      }

      @media screen and (max-width: 500px) {
        position: absolute;
        top: 140px;
        background: rgba(245, 245, 245, 0);

        h1 {
          color: #ddd;
          font-size: 2.4rem;
          line-height: 4rem;
          text-align: center;
          padding: 0;
          .br2 {
            display: block;
          }
        }
        .hide-title {
          display: block;
          position: fixed;
          top: 0;
          width: 98%;
          text-align: left;
          font-size: 1.6rem;
          line-height: 80px;
          color: #ddd;
          padding-left: 10px;
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }

  .pc-navi {
    float: left;
    padding: 0 0 0 20px;
    @media screen and (max-width: 500px) {
      display: none;
    }

    .pc-navi-list {
      padding-top: 10px;
      border-bottom: 2px solid rgb(245, 245, 245);
      box-sizing: border-box;
      transition: 0.25s;

      &:hover {
        border-bottom: 2px solid #000;
        opacity: 0.8;
      }
      a {
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1rem;
        letter-spacing: 0.2rem;
        .sub-title {
          font-size: 0.6rem;
        }
      }
    }
  }
  .main-visual {
    margin-top: 80px;
    .hide-title {
      display: none;
    }

    @media screen and (max-width: 500px) {
      margin-top: 0;
    }

    .main-visual-image {
      width: 70%;
      margin: 0 10px 0 auto;
      @media screen and (max-width: 500px) {
        width: 100%;
        height: 400px;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
        }
        img {
          height: 100%;
        }
      }
      box-shadow: 0 2px 5px 2px rgba(37, 37, 37, 0.6);
    }
    .btn-container {
      .btn {
      }
      .gallery-btn {
      }
      .info-btn {
      }
    }
  }
  .profile-h2 {
    display: none;
    @media screen and (max-width: 840px) {
      display: block;
      @include h2;
      margin: 40px;
    }
  }

  .profile {
    width: 50%;
    background: rgb(223, 255, 228);
    box-shadow: $shadow;
    position: absolute;
    top: 350px;
    left: 10px;
    .profile-container {
      h3 {
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
        padding: 20px;
      }
      .profile-box {
        display: flex;
        .profile-image {
          padding: 10px;
          border-radius: 50%;
        }
        p {
          padding: 20px;
          font-size: 1.2rem;
        }
        @media screen and (max-width: 500px) {
          flex-direction: column;
          .profile-image {
            width: 40%;
            height: 40%;
            margin: auto;
            img {
              border-radius: 50%;
              box-shadow: 0 2px 5px 2px rgba(37, 37, 37, 0.6);
            }
          }
        }
      }
    }
    @media screen and (max-width: 840px) {
      width: 90%;
      padding-top: 20px;
      margin: 40px auto 0;
      position: static;
    }
  }
}

#news {
  margin-top: 200px;
  @media screen and (min-width: 980px) {
    margin-top: 100px;
  }
  @media screen and (max-width: 840px) {
    margin-top: 60px;
  }
  .news-container {
    width: 90%;
    margin: auto;
    h2 {
      @include h2;
    }
    .news-box {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .news-image {
        width: 40%;
        box-shadow: $shadow;
      }
      .news-contents {
        width: 50%;
        .news-content {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          padding: 10px 10px 10px 10px;

          border-bottom: 1px solid rgba(37, 37, 37, 0.2);
          .time {
            height: 20px;
            display: inline-block;
            font-size: 1.2rem;
            padding: 5px 10px;
            background: #383838;
            color: #fff;
            a {
              line-height: 1.2rem;
            }
          }

          .news-text {
            height: 20px;
            display: inline-block;
            font-size: 1.2rem;
            padding-left: 10px;
            @media screen and (max-width: 500px) {
              padding-bottom: 50px;
            }
          }
        }
      }
      @media screen and (max-width: 840px) {
        width: 100%;
        margin: auto;
        background: url(../img/roman-kraft-HjTd4GUoyJs-unsplash.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: $shadow;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.6);
        }
        .news-image {
          display: none;
        }
        .news-contents {
          width: 100%;
          padding: 30px 20px 40px;
          z-index: 1;

          .news-content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 10px;
            border-bottom: 1px solid rgba(37, 37, 37, 0.2);
            .time {
              height: 20px;
              display: inline-block;
              font-size: 1.2rem;
              padding: 5px 10px;
              background: #383838;
              color: #fff;
              a {
                line-height: 1.2rem;
                color: #000;
              }
            }

            .news-text {
              height: 20px;
              display: inline-block;
              font-size: 1.2rem;
              padding-left: 10px;
            }
          }
        }
      }
    }
    .andmore {
      font-size: 1.2rem;
      text-align: right;
      text-decoration: underline;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
#maiking {
  width: 90%;
  margin: 120px auto 0;
  h2 {
    @include h2;
  }
  .making-container {
    .making-box {
      margin-bottom: 100px;
      display: flex;
      justify-content: space-between;
      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
      .making-img {
        width: 49%;
        box-shadow: $shadow;
      }
      .making-content {
        width: 45%;
        font-size: 1.6rem;
        h3 {
          font-size: 2rem;
          font-weight: bold;
          text-align: center;
          padding: 20px 0 10px;
          border-bottom: 1px solid rgba(37, 37, 37, 0.2);
        }
        p {
          padding-top: 20px;
        }
      }
    }
    @media screen and (max-width: 840px) {
      .making-box {
        flex-direction: column;
        &:nth-child(2n) {
          flex-direction: column;
        }
        .making-img {
          width: 100%;
          margin: auto;
        }
        .making-content {
          width: 90%;
          margin: auto;
          font-size: 1.6rem;
          h3 {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
#gallery {
  width: 90%;
  margin: auto;
  h2 {
    @include h2;
    margin-top: 80px;
  }
  .gallery-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    #gallery-main-image {
      width: 50%;
      height: 50%;
      @media screen and (max-width: 840px) {
        height: 0;
        padding-bottom: 40%;
      }
      box-sizing: border-box;
      margin: 0 0 0 10px;
      box-shadow: $shadow;
      position: relative;

      #left_arrow {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 2px;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        user-select: none;
        background: rgba(255, 255, 255, 0.8);
        padding: 2px 2px 2px 0;
        border-radius: 50%;
      }
      #right_arrow {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 2px;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        user-select: none;
        background: rgba(255, 255, 255, 0.8);
        padding: 2px 0 2px 2px;
        border-radius: 50%;
      }

      #play-btn {
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        bottom: 0;
        right: 50%;
        padding: 10px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 1px 1px 1px 1px #999;
        cursor: pointer;
      }
      #stop-btn {
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        bottom: 0;
        left: 50%;
        padding: 10px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 1px 1px 1px 1px #999;
        cursor: pointer;
      }
    }
    .gallery-thumbnail {
      width: 48%;
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      li {
        width: 24%;
        list-style-type: none;
        margin: 0 5px 10px;
        box-shadow: $shadow;
        cursor: pointer;
        opacity: 0.8;
        img {
          height: 100%;
        }
      }
      .select {
        opacity: 1;
      }
    }
    @media screen and (max-width: 840px) {
      flex-direction: column;
      #gallery-main-image {
        width: 90%;
        margin: auto;
        padding-bottom: 60%;

        #left_arrow {
          width: 40px;
          height: 40px;
        }
        #right_arrow {
          width: 40px;
          height: 40px;
        }

        #play-btn {
          width: 40px;
          height: 40px;
          right: 0;
          bottom: -30px;
        }
        #stop-btn {
          width: 40px;
          height: 40px;
          left: 0;
          bottom: -30px;
        }
      }
      .gallery-thumbnail {
        width: 100%;
        margin: 55px auto 0;
        li {
          width: calc(20% - 10px);
        }
      }
    }
  }
}
#shop {
  margin-top: 80px;
  h2 {
    @include h2;
  }
  .shop-image {
    width: 60%;
    @media screen and (max-width: 840px) {
      width: 80%;
    }

    margin: auto;
    box-shadow: $shadow;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
    .waiting {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 40%;
      height: 30px;
      text-align: center;
      font-size: 5rem;
      font-weight: bold;
      color: #fff;
      @media screen and (max-width: 840px) {
        font-size: 3rem;
      }
    }
  }
}
#info {
  margin-top: 80px;
  margin-bottom: 30px;
  .info-container {
    background: rgb(230, 230, 230);
    width: 80%;
    padding-top: 40px;
    margin: auto;
    box-shadow: $shadow;
    iframe {
      width: 100%;
    }
  }
}
#footer {
  background-color: #aaaaaa;
  width: 100%;
  margin-top: 80px;

  .footer-container {
    width: 80%;
    padding: 20px 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 2.4rem;
      padding-left: 20px;
      @media screen and (max-width: 840px) {
        font-size: 1.4rem;
        padding-left: 10px;
      }
    }
    ul {
      li {
        padding-bottom: 10px;
        a {
          font-size: 1.4rem;
          line-height: 20px;
        }
      }
    }
  }
  .copylight {
    float: right;
    padding-right: 20px;
  }
}
